/.gitignore.txt
/target/untitled4/WEB-INF/lib/antlr4-runtime-4.10.1.jar
/target/untitled4/WEB-INF/lib/byte-buddy-1.12.18.jar
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/src/main/resources/hibernate.properties
/target/classes/hibernate.properties
/target/untitled4/WEB-INF/classes/hibernate.properties
/target/untitled4/WEB-INF/lib/hibernate-commons-annotations-6.0.6.Final.jar
/target/untitled4/WEB-INF/lib/hibernate-core-6.1.7.Final.jar
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/untitled4/WEB-INF/lib/istack-commons-runtime-4.0.1.jar
/target/untitled4/WEB-INF/lib/jakarta.activation-2.0.1.jar
/target/untitled4/WEB-INF/lib/jakarta.inject-api-2.0.0.jar
/target/untitled4/WEB-INF/lib/jakarta.persistence-api-3.0.0.jar
/target/untitled4/WEB-INF/lib/jakarta.transaction-api-2.0.0.jar
/target/untitled4/WEB-INF/lib/jakarta.xml.bind-api-3.0.1.jar
/target/untitled4/WEB-INF/lib/jandex-2.4.2.Final.jar
/target/untitled4/WEB-INF/lib/jaxb-core-3.0.2.jar
/target/untitled4/WEB-INF/lib/jaxb-runtime-3.0.2.jar
/target/untitled4/WEB-INF/lib/spring-orm-6.0.6.jar
/target/untitled4/WEB-INF/lib/txw2-3.0.2.jar
